.loginmaindiv
{
  margin: 0 auto;
  width: 520px;
  /* margin-top: 100px; */
}
.ant-btn.login-form-button.ant-btn-primary
{
   width: 100%;
}
.ant-card-cover {
  border-bottom: 5px solid #233367;
}
.cardimage{
  height: 300px;
}
.routeCradDiv {
  padding: 10px;
}